<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1-8">
    <title>Upload Files</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid text-center">
    <div>
        <h1> Upload Files </h1>
    </div>

    <div class="text-success">
        <h3>[[${message}]]</h3>
    </div>


    <div class="row border rounded">
        <th:block th:each="doc : ${listDocs}">
            <div class="col">
                <div>
                    <img th:src="@{/images/doc2.png}" />
                </div>
                <div>
                    <a th:href="@{'/download?id=' + ${doc.id}}">[[${doc.name}]]</a>
                </div>
                <div>
            </div>
            </div>
        </th:block>
    </div>


        <form th:action="@{/upload}" method="post"
        enctype="multipart/form-data"
              style="max-width: 600px; margin: 0 auto">

            <div>
          <div class="border rounded">
          <h2>Upload Your Files</h2>

                <p>
                    <input type="file" name="document" required>
                </p>


                <p>
                    <input type="submit" value="Upload" class="btn btn-primary">
                </p>

            </div>
        </form>

    </div>

</body>
</html>