<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1-8">
    <title>Elearning  System</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid text-center">
    <div>

        <img th:src="@{/images/doc2.png}" />


    </div>

    <div class="text-success">
        <h3>[[${message}]]</h3>
    </div>




            <div>
          <div class="border rounded">
          <h2>Elearning System</h2>

<!--                <p>-->
<!--                    <input type="file" name="document" required>-->
<!--                </p>-->



                    <span> <a href="/add" th:href="@{/add}"><button class="btn btn-primary">Upload Material</button></a>


                        <br>
                        <br>

              <br>
              <br>
              <div class="form-group">
                    <span> <a href="/view" th:href="@{/view}"><button class="btn btn-warning">View Uploaded Files</button></a>


                    </span>
              </div>


              <br>
              <br>
              <div class="form-group">
                    <span> <a href="/" th:href="@{/add}"><button class="btn btn-success">Add New Students</button></a>


                    </span>
              </div>
              <br>
              <br>
              <div class="form-group">
                    <span> <a href="/" th:href="@{/add}"><button class="btn btn-success">View Student Details</button></a>


                    </span>
              </div>
            </div>






    </div>

</body>
</html>